<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.tonikamitv.loginregister">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.RegisterActivity"/>
        <activity android:name=".activity.UserAreaActivity"/>
        <activity android:name=".activity.MainActivity2">
        </activity>
        <activity android:name=".activity.SearchActivity">
        </activity>
        <activity android:name=".activity.InsertActivity">
        </activity>
        <activity android:name=".Retrofit.activity.RetrofitActivity">
        </activity>
        <activity android:name=".Retrofit.activity.RetrofitCustomViewActivity">
        </activity>
        <activity android:name=".Retrofit.activity.BarcodeRetrofitActivity">
        </activity>
    </application>

</manifest>